<!DOCTYPE html>
<html>
<head>
  <title>DebtManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Dlhy", root_path %></h1>

<%= link_to "Prihlaste sa", new_session_path %>

<%= flash[:notice] %>
<%= flash[:error] %>
<hr/>

<%= yield %>

</body>
</html>
