<!DOCTYPE html>
<html>
<head>
  <title>DebtManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Dlhy", root_path %></h1>

<p><%= link_to 'Odhlasit', session_path(session), :method => :delete %></p>

<div class="flash_notice"><%= flash[:notice] %></div>
<div class="flash_error"><%= flash[:error] %></div>
<hr/>

<%= yield %>

</body>
</html>
